<header>
    <div class="container">
        <a routerLink="/" class="logo"> </a>
        <nav>
            <ul>
                <li style="font-size: 24px; margin-left: -28%">
                    {{title}} Page </li>


            </ul>
            <div align="right" style="margin-right: 2%">
                <button style="margin-right: 0%" class="btn btn-primary" disabled>{{currentUser}}</button>
                <button style="margin-right: -30%" class="btn btn-primary" (click)="logout()">Logout</button>
            </div>
        </nav>
    </div>
</header>