<header>
    <div class="container">
        <a routerLink="/" class="logo"> </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">home</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/registration">Registration</a>
                </li>

            </ul>
            <div align="right" style="margin-right: 2%">
                <button class="btn btn-primary" (click)="logout()">Logout</button>
            </div>
        </nav>
    </div>
</header>