<app-header></app-header>
<div class=" jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-3">

                <form [formGroup]="addemployee" (ngSubmit)="onAdd()">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" id="name" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Department:</label>
                        <input type="text" id="department" formControlName="department" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
                        <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                            <div *ngIf="f.department.errors.required">Department is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" id="phone" formControlName="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">phone is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Location:</label>
                        <input type="text" id="location" formControlName="location" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">location is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>