<app-header></app-header>
<div class=" jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-3">

                <form [formGroup]="addemployee" (ngSubmit)="onAdd()">


                    <div class="form-group">
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.empcode.errors }">
                            <input type="text" placeholder="empcode" required empcode formControlName="empcode">
                        </p>

                        <div *ngIf="isSubmitted && formControls.department.errors" class="help-block">
                            <div *ngIf="formControls.department.errors.required">department is required</div>
                        </div>
                    </div>



                    <div class="form-group">
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
                            <input type="name" placeholder="Name" required formControlName="name">
                        </p>

                        <div *ngIf="isSubmitted && formControls.name.errors" class="help-block">
                            <div *ngIf="formControls.name.errors.required">name is required</div>
                        </div>
                    </div>






                    <div class="form-group">
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.department.errors }">
                            <input type="department" placeholder="Department" required department
                                formControlName="department">
                        </p>

                        <div *ngIf="isSubmitted && formControls.department.errors" class="help-block">
                            <div *ngIf="formControls.department.errors.required">department is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.phone.errors }">
                            <input type="phone" placeholder="Phone" required phone formControlName="phone">
                        </p>

                        <div *ngIf="isSubmitted && formControls.phone.errors" class="help-block">
                            <div *ngIf="formControls.phone.errors.required">phone is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.location.errors }">
                            <input type="location" placeholder="Location" required location formControlName="location">
                        </p>

                        <div *ngIf="isSubmitted && formControls.location.errors" class="help-block">
                            <div *ngIf="formControls.location.errors.required">location is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>