<app-header></app-header>
<table class="table table-striped">

    <tr>
        <th>S.NO </th>
        <th>name</th>
        <th>department</th>


    </tr>

    <tbody>
        <tr *ngFor="let employe of employees | slice:0:5">


            <td>{{employe.id}}
            </td>
            <td>{{employe.name}}
            </td>
            <td>{{employe.department}}</td>
            <!-- <td><button class=" btn btn-primary" routerLink="update/{{ employe.id }}">Update</button></td>

            <td><button class="btn btn-primary" (click)="deleteEmp(employe.id)">Delete</button></td> -->

        </tr>
    </tbody>

</table>
<h1><a routerLink="/emplist">View More</a></h1>
<app-footer></app-footer>