<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="search-hero">
            <input style="margin-left: 35%" type="text" [(ngModel)]="userFilter.name" autocomplete="off"
                placeholder="&#61442;  Start searching ">
        </div>
        <br />
    </div>
</div>
<div class="col-sm-4">
    <app-side></app-side>
</div>
<div class="col-sm-8">
    <table style="width:35%" class="table table-striped">

        <tr>
            <th>S.NO </th>
            <th>name</th>
            <th>department</th>
            <th>Date</th>
            <!-- <th> Update</th>
        <th> Delete</th> -->

        </tr>

        <tbody>
            <tr *ngFor="let employe of employees | filterBy: userFilter">


                <td>{{employe.id}}
                </td>
                <td>
                    <a routerLink="empdetail/{{ employe.id }}"> {{employe.name}} </a> </td>
                <td>{{employe.department}}
                </td>
                <td>{{employe.today}}
                </td>
                <!-- <td><button class="btn btn-primary" routerLink="update/{{ employe.id }}">Update</button></td>

            <td><button class="btn btn-primary" (click)="deleteEmp(employe.id)">Delete</button></td> -->

            </tr>
        </tbody>

    </table>
</div>
<button style="position: absolute; margin-left: -57%; margin-top: 600px"><a routerLink="/addemp"> Add
        Employee</a> </button>

<app-footer></app-footer>